body{
    background-image: url('/bgimg.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: repeat;
    background-position: center;
}

.card-text {
  display: -webkit-box;
  -webkit-line-clamp: 3;    
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
